
@{
    ViewData["Title"] = "How to";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-area col-sm-9">
    <div class="detail-block">
        <h1>Bidding Status</h1>
        <br />
        <div class="row">
            <div class="col-sm-12 alert-success">
                <strong>
                    @ViewBag.BiddingStatus
                </strong>
            </div>
        </div>
    </div>
</div>
