@{
    ViewData["Title"] = "Winners";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //bool isSeriesAvailable = ViewBag.SeriesClosedForBiddingSelectList == null;
    bool isSeriesAvailable = ((SelectList)ViewBag.SeriesClosedForBiddingSelectList).Count() > 0;
    //bool isSeriesAvailable = ((List<SelectListItem>)ViewBag.SeriesClosedForBiddingSelectList).Count() == 0;
}

@section Scripts
{
    <link href="~/css/sweetalert.css" rel="stylesheet" />
    <script src="~/lib/Custom/sweetalert.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("input[name=searchBtn]").click(function () {

                //var asdf = $("#seriesId").val();

                if (!$("#seriesId").val().length) {

                    swal("Error!", "Please, select a series to download winners.", "error");

                    return;
                }

                fetch();
            });

            function fetch() {

                $("#loader").toggle();

                $.ajax({
                    url: "/Home/DownloadWinners",
                    data: {
                        seriesId: parseInt($("#seriesId").val()),
                    },
                    success: function (response) {
                    },
                    failure: function (response) {
                        swal("Request Error!", "Request Error , Please try again latter." + response, "error");
                    }
                })
                    .done(function () {
                        $("#loader").toggle();
                    });
            }
        });
    </script>
}

<div class="content-area col-sm-9">
    <div class="detail-block">
        <h1>Winners</h1>

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    @if (isSeriesAvailable)
                    {
                        <div class="form-group">
                            <label>Select series:</label>
                            <div class="col-md-6">
                                <select id="seriesId" asp-items="ViewBag.SeriesClosedForBiddingSelectList"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <input type="button" class="btn btn-sm btn-default" name="searchBtn" value="Search" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <p>Not available.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
