
@{
    ViewData["Title"] = "How to";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>

        li {
            list-style: none;
        }
    </style>

    <div class="content-area col-sm-9">
        <div class="detail-block">

            <h1>How to e-auction</h1>

            <ul>
                <li>
                    <h2>Step 1:</h2>
                    <p>Register yourself through the application or portal by entering your personal details. CNIC, Email Address and Phone Number are mandatory. Once the user has entered the signup details, an OTP will be generated on the provided mobile number/email address. User has to enter the provided OTP to authenticate the registration.</p>
                </li>
                <li>
                    <h2>Step 2:</h2>
                    <p>Once the user is registered, he has to enter the login details to access the E-Auction App.</p>
                </li>
                <li>
                    <h2>Step 3:</h2>
                    <p>Select the desired number by accessing E-Auction tab on your android application / web portal and enter your chassis number against it and press submit. Please make sure that you are entering the COMPLETE chassis number as provided onn the sales invoice. Chassis once entered CANNOT be changed. On submission an authentication/ success message will be displayed on your screen. User can review the submitted applications by accessing “my application” section on the application and web portal.</p>
                </li>
                <li>
                    <h2>Step 4:</h2>
                    <p>You will receive your PSID for reserve value and participation fee via sms, please pay Rs 100 against your application via mobile banking/Atm/Any Bank. Once the PSID is paid successfully, your application will be authorized and provision will be given to start bidding once the auction starts.</p>
                </li>
                <li>
                </li>
            </ul>

@*            <div class="row">
                <div class="col-md-2 col-md-offset-2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/IA_2xKd05-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>*@

            <h1>Revised E-Auction Policy</h1>

            <h3 style="text-align:center;">
                Click <a href="/Reports/pdfFiles/new-Policy.pdf" target="_blank" style="all:revert;">HERE</a> to download.
            </h3>

            

        </div>
    </div>
